
#text{
  margin-top: 30px;
}
#about_form{
  width: 100%;
  
}
#about_form button{
  text-decoration: none;
  border: none;
  font-size: 16px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  margin-top: 10px;
  transition: 0.2s ease-out;
}
#about_form button:hover{
  background-color: #6c63ff;
  color: white;
  transition: 0.2s ease-in;
}

#about_form textarea{
  width: 100%;
  font-size: 16px;
  text-align: justify;
  padding: 20px;
  resize: none;
}