.login_page{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    height:100vh; 
    width: 100%;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
.header{
    width: 100%; 
    display: flex; 
    justify-content: flex-start;
    align-items: flex-end;

}
.login-subtitle{
    align-items: center;
    align-content: center;
    width: 100%; 
    max-width: 6rem;
    height: 30; 
    font-size: 2.5rem;
    color: black; 
}
.main_screen{
    width: 100%; 
    display: flex;
    height: 60vh; 
    justify-content: flex-start;
}
.photo-space{
    display: flex;
    width: 50%; 
    max-width: 50%; 
    align-content: center;
    align-items: center;
}
.login_box{
    border: solid black; 
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 50%; 
    max-width: 50%;  
    height: 60vh; 
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);

}

#login_form{
    display: flex; 
    justify-content: center;
    flex-direction: column; 
    width: 90%; 
    padding-left: 10px; 
    box-sizing: border-box;
    height: 60vh; 

}
.login_title{
    font-size: 50px;
    font-weight: normal;
    align-self: center;
   
}
form .text_field {
    display: flex;
    border-bottom: 1px solid black;
    margin: 60px 0;
}

.text_field input{
    height: 40px;
    width: 100%;
    padding: 0 5px;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
}

.text_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    font-weight: lighter;
    transform: translateY(-50%);
    font-size: 20px;
    pointer-events: none;
    transition: .5s;
}

.text_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 1px;
    background: #6c63ff;
}

.text_field input:focus ~ label,
.text_field input:valid ~ label{
    top: -5px;
    color: #6c63ff;

}

.text_field input:focus ~ span::before,
.text_field input:valid ~ span::before{
    width: 100%;
}
button{
    
    width: 100%;
    height: 70px;
    border: none;
    background: #6c63ff;
    border-radius: 50px;
    color: white;
    font-weight: lighter;
    font-size: 20px;
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 40px 0 0 0 ;
    transition: .2s;
}

button:hover{
    
    cursor: pointer;
    background: #ff6884;
}


#login_slogan{
    font-size: 22px;
    font-weight: lighter;
    
}
#forgot_password{
    font-size: 20px;
}