
.navbar#navbar{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 200px;
    height: 650px;
    position: relative;
}
.title {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    position: relative;
    left: 10px;
    top: 10px; 
    width: 170px; 
    height: 50px;
    text-align:center; 
}
.smallbox {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    position: relative;
    left: 10px; 
    width: 170px; 
    height: 50px; 
    text-align: center;
}
#box1{
    top: 70px;
}
#box2 {
    top: 130px; 
}
#box3 {
    top: 190px; 
}
.mario {
    border-color: white; 
    background: none;
    height: 35px; 
    width: 35px;

}
button#mario {
    border: none; 
    background: none; 
}
.mario:hover {
    height: 40px;
    width: 40px;
}
#buttonExit {
    position: absolute; 
    bottom: 0px; 
    left: 38%; 

}
#footer{
    position: fixed; 
    bottom: 0px;
    height: 100px; 
    width: right; 
    left:0;
    right:0;
    border-style: solid;
    border-color: black;
    border-width: 1px; 
    text-align: center; 

}
.footer-links{
    border-color: black;
    position: relative; 
    border-style: solid;
    border-width:1px;
    float: left; 
    height: 80px;
    width: 200px;
    margin:10px; 
}
#back-to-top {
    left: 5%; 
}
#link1 {
    left: 15%;
}
#link2 {
    left: 20%; 
}
#link3 {
    left:25%; 
}