.login_page{
    display: flex; 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    height:100vh; 
    width: 100%;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
.header{
    width: 100%; 
    display: flex; 
    justify-content: flex-start;
    align-items: flex-end;

}
.login-subtitle{
    align-items: center;
    align-content: center;
    width: 100%; 
    max-width: 6rem;
    height: 30; 
    font-size: 4.5rem;
    color: black; 
}
.main_screen{
    width: 100%; 
    display: flex;
    height: 100vh; 
    justify-content: flex-start;
}
.photo-space{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%; 
    max-width: 50%; 
    align-content: center;
    align-items: center;
}
img {
    display: flex;
    width: 70%;
    height: 70%; 
}
.login_box{
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 50%; 
    max-width: 50%;  
    height: 60vh; 
    background-color: white;
    border-radius: 25px;
    

}

#login_form{
    display: flex; 
    justify-content: flex-start;
    flex-direction: column; 
    width: 95%; 
    padding-left: 10px; 
    box-sizing: border-box;
    height: 60vh; 

}
.space1{
    height: 30px; 
}
.login_title{
    font-size: 50px;
    width: 100%; 
    font-weight: normal;
    align-self: center;
}
.message{
    padding-bottom: 20px; 
    font-size: 17px; 
}
.space-between{
    width: 100%; 
    height:0.75rem;
}

.text_field {
    display: flex;
    
}
.space-between2{
    width:2rem; 
}
input{
    border: solid #d3d3d3;
    border-radius: 10px; 
    height: 50px;
    width: 100%; 
    padding: 0 5px;
    font-size: 20px;
  
    background: none;
    outline: none;
}

.text_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 1px;
    background: #6c63ff;
}

.text_field input:focus ~ label,
.text_field input:valid ~ label{
    top: -5px;
    color: #6c63ff;

}

.text_field input:focus ~ span::before,
.text_field input:valid ~ span::before{
    width: 100%;
}
/* button{
    
    width: 100%;
    height: 70px;
    border: none;
    background: #6c63ff;
    border-radius: 50px;
    color: white;
    font-weight: lighter;
    font-size: 20px;
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 40px 0 0 0 ;
    transition: .2s;
} */

button:hover{
    cursor: pointer;
    /* background: #ff6884; */
}


#login_slogan{
    font-size: 22px;
    font-weight: lighter;
    
}
#forgot_password{
    font-size: 20px;
}