<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>

    </header>

    <div class="main">
        <div class="login-box">

            <form method="post" id="login_form">

                <h1 id="login_title">Login</h1>
                <p id="login_slogan">Connect with potential employers and colleagues to develop the dream career you deserve.</p>

                <label for="login_email">E-mail</label>
                <input type="email" id="login_email" name="login_email" required>


                <label for="login_password">Password</label>
                <input type="password" id="login_password" name="login_password" required>

                <a href="/register">Forgot password?</a>

                <button type="submit">Login</button>


            </form>

        </div>
    </div>

    <footer>

    </footer>

</body>
</html>