#footer {
  background-color: #f2f2f2;
  position: absolute;
  bottom: -100px;
  width: 100%;
  padding-bottom: 50px;
}

#title {
  padding-top: 50px;
  font-size: 24px;
  color: #28104e;
  margin-bottom: 40px;
  font-weight: bold;
  text-align: center;
}

#container {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-color: white;
}

#about {
  color: #28104e;
  flex-direction: column;
  display: flex;
  padding: 60px;
}

#services {
  color: #28104e;
  flex-direction: column;
  display: flex;
  padding: 60px;
}

#contact {
  color: #28104e;
  display: flex;
  padding: 60px;
}

#social {
  color: #28104e;
  display: flex;
  padding: 60px;
}
