#footer {
  background-color: white;
  border-top: solid 2px #f2f2f2;
  position: absolute;
  top: 100%;
  width: 100%;
  padding-bottom: 20px;
}

#title {
  padding-top: 50px;
  font-size: 30px;
  color: #6237a0;
  /* margin-bottom: 40px; */
  font-weight: bold;
  text-align: center;
}

#container {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

.footerCategories {
  font-size: 15px;
  color: #28104e;
  flex-direction: column;
  display: flex;
  padding: 60px;
}

a {
  text-decoration: none;
  padding: 10px;
  color: #28104e;
  font-size: 18px;
}

a:hover {
  color: #6237a0;
  /* font-weight: bold; */
}
